USE [master]
GO
/****** Object:  Database [ServiciosDB]    Script Date: 11/9/2025 6:13:04 AM ******/
CREATE DATABASE [ServiciosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServiciosDB', FILENAME = N'/var/opt/mssql/data/ServiciosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ServiciosDB_log', FILENAME = N'/var/opt/mssql/data/ServiciosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServiciosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServiciosDB]
GO
/****** Object:  Table [dbo].[AsociacionPxP]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsociacionPxP](
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[IDPropiedad] [int] NOT NULL,
	[IDPropietario] [int] NOT NULL,
	[IDTipoAsociacion] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdEntityType] [int] NOT NULL,
	[EntityId] [int] NOT NULL,
	[jsonAntes] [varchar](500) NULL,
	[jsonDespues] [varchar](500) NULL,
	[insertedAt] [datetime] NOT NULL,
	[insertedby] [int] NOT NULL,
	[insertedin] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCAgua]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCAgua](
	[ID] [int] NOT NULL,
	[IDTarifa] [int] NOT NULL,
	[CostoM3] [money] NOT NULL,
	[M3TarifaMinima] [money] NOT NULL,
	[M3Minimo] [money] NOT NULL,
	[IncluyeBase] [bit] NOT NULL,
 CONSTRAINT [PK_CCAgua] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCBaseCalculo]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCBaseCalculo](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](32) NOT NULL,
 CONSTRAINT [PK_CCBaseCalculo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCPeriodoCobro]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCPeriodoCobro](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](32) NOT NULL,
	[QDividir] [int] NOT NULL,
 CONSTRAINT [PK_PeriodoCobroCC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCTarifa]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTarifa](
	[ID] [int] NOT NULL,
	[IDCC] [int] NOT NULL,
	[IDPeriodoCobro] [int] NOT NULL,
	[IDTipoMonto] [int] NOT NULL,
	[VigenciaDesde] [date] NOT NULL,
	[VigenciaHasta] [date] NOT NULL,
 CONSTRAINT [PK_CCTarifa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCTarifaFija]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTarifaFija](
	[ID] [int] NOT NULL,
	[IDTarifa] [int] NOT NULL,
	[Monto] [money] NOT NULL,
 CONSTRAINT [PK_CCTarifaFija] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCTarifaPorcentual]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTarifaPorcentual](
	[ID] [int] NOT NULL,
	[IDTarifa] [int] NOT NULL,
	[Porcentaje] [float] NOT NULL,
	[IDBaseCalculo] [int] NOT NULL,
 CONSTRAINT [PK_CCTarifaPorcentual] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCTarifaTramo]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTarifaTramo](
	[ID] [int] NOT NULL,
	[IDTarifa] [int] NOT NULL,
	[OrdenTramo] [int] NOT NULL,
	[LimInferior] [money] NULL,
	[LimSuperior] [money] NULL,
	[Monto] [money] NOT NULL,
	[Porcentaje] [decimal](9, 6) NULL,
	[IDBaseCalculo] [int] NOT NULL,
 CONSTRAINT [PK_CCTarifaTramo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCTipoMonto]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTipoMonto](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](32) NOT NULL,
 CONSTRAINT [PK_CCTipoMonto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobantePago]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobantePago](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Codigo] [varchar](32) NOT NULL,
	[IDPropiedad] [int] NOT NULL,
 CONSTRAINT [PK_ComprobantePago] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptoCobro]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptoCobro](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](32) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_ConceptoCobro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntityType]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityType](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EntityType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoFactura]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoFactura](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoFactura] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FechaFactura] [date] NOT NULL,
	[FechaLimitePago] [date] NOT NULL,
	[FechaCorteAgua] [date] NOT NULL,
	[IDPropiedad] [int] NOT NULL,
	[TotalPagarOriginal] [money] NOT NULL,
	[IDTipoMedioPago] [int] NOT NULL,
	[TotalPagarFinal] [money] NOT NULL,
	[IDEstadoFactura] [int] NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LecturaMedidor]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LecturaMedidor](
	[ID] [int] NOT NULL,
	[IDPropiedad] [int] NOT NULL,
	[IDTipoMovimiento] [int] NOT NULL,
	[Valor] [float] NOT NULL,
 CONSTRAINT [PK_LecturaMedidor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Linea]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Linea](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Monto] [money] NOT NULL,
	[IDFactura] [int] NOT NULL,
	[IDCC] [int] NOT NULL,
 CONSTRAINT [PK_Linea] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovConsumo]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovConsumo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Monto] [float] NOT NULL,
	[NuevoSaldo] [float] NOT NULL,
	[IDTipo] [int] NOT NULL,
	[IDPropiedad] [int] NOT NULL,
 CONSTRAINT [PK_MovConsumo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenCorte]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenCorte](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IDFactura] [int] NOT NULL,
 CONSTRAINT [PK_OrdenCorte] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenReconexion]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenReconexion](
	[ID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[IDOrdenCorte] [int] NOT NULL,
 CONSTRAINT [PK_OrdenReconexion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParametrosSistema]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParametrosSistema](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
	[Valor] [varchar](64) NOT NULL,
 CONSTRAINT [PK_ParametrosSistema] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propiedad]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propiedad](
	[ID] [int] NOT NULL,
	[NumFinca] [varchar](16) NOT NULL,
	[Area] [decimal](18, 2) NOT NULL,
	[ValorPropiedad] [decimal](18, 2) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[IDTipoUso] [int] NOT NULL,
	[IDTipoArea] [int] NOT NULL,
	[SaldoM3] [float] NOT NULL,
	[SaldoM3UltimaFactura] [float] NOT NULL,
	[NumMedidor] [varchar](32) NOT NULL,
	[UltimaLecturaMedidor] [float] NULL,
 CONSTRAINT [PK_Propiedad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropiedadXCC]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropiedadXCC](
	[ID] [int] NOT NULL,
	[IDPropiedad] [int] NOT NULL,
	[IDCC] [int] NOT NULL,
	[FechaAsociacion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_PropiedadXCC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propietario]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propietario](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
	[ValorDocumentoId] [varchar](32) NOT NULL,
	[Telefono] [varchar](16) NOT NULL,
	[Email] [varchar](100) NULL,
	[Telefono2] [varchar](16) NULL,
	[IDTipoDocumentoIdentidad] [int] NOT NULL,
 CONSTRAINT [PK_Propietario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAreaPropiedad]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAreaPropiedad](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](16) NOT NULL,
 CONSTRAINT [PK_TipoAreaPropiedad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAsociacion]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAsociacion](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](32) NOT NULL,
 CONSTRAINT [PK_TipoAsociacion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumentoIdentidad]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumentoIdentidad](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoDocumentoIdentidad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMedioPago]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMedioPago](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](32) NOT NULL,
 CONSTRAINT [PK_TipoMedioPago] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovConsumo]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovConsumo](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](32) NOT NULL,
 CONSTRAINT [PK_TipoMovConsumo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovLecturaMedidor]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovLecturaMedidor](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](32) NOT NULL,
 CONSTRAINT [PK_TipoMovLecturaMedidor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsoPropiedad]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsoPropiedad](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](16) NOT NULL,
 CONSTRAINT [PK_TipoUsoPropiedad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](32) NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] NOT NULL,
	[EsAdmin] [bit] NOT NULL,
	[UserName] [varchar](64) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[IDTipo] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPropiedad]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPropiedad](
	[IDUsuario] [int] NOT NULL,
	[IDPropiedad] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioPropiedad] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC,
	[IDPropiedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPropietario]    Script Date: 11/9/2025 6:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPropietario](
	[IDUsuario] [int] NOT NULL,
	[IDPropietario] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsociacionPxP]  WITH CHECK ADD  CONSTRAINT [FK_AsociacionPxP_TipoAsociacion] FOREIGN KEY([IDTipoAsociacion])
REFERENCES [dbo].[TipoAsociacion] ([ID])
GO
ALTER TABLE [dbo].[AsociacionPxP] CHECK CONSTRAINT [FK_AsociacionPxP_TipoAsociacion]
GO
ALTER TABLE [dbo].[AsociacionPxP]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadXPropietario_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[AsociacionPxP] CHECK CONSTRAINT [FK_PropiedadXPropietario_Propiedad]
GO
ALTER TABLE [dbo].[AsociacionPxP]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadXPropietario_Propietario] FOREIGN KEY([IDPropietario])
REFERENCES [dbo].[Propietario] ([ID])
GO
ALTER TABLE [dbo].[AsociacionPxP] CHECK CONSTRAINT [FK_PropiedadXPropietario_Propietario]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_EntityType] FOREIGN KEY([IdEntityType])
REFERENCES [dbo].[EntityType] ([ID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_EntityType]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([insertedby])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[CCAgua]  WITH CHECK ADD  CONSTRAINT [FK_CCAgua_CCTarifa] FOREIGN KEY([IDTarifa])
REFERENCES [dbo].[CCTarifa] ([ID])
GO
ALTER TABLE [dbo].[CCAgua] CHECK CONSTRAINT [FK_CCAgua_CCTarifa]
GO
ALTER TABLE [dbo].[CCTarifa]  WITH CHECK ADD  CONSTRAINT [FK_CCTarifa_CCPeriodoCobro] FOREIGN KEY([IDPeriodoCobro])
REFERENCES [dbo].[CCPeriodoCobro] ([ID])
GO
ALTER TABLE [dbo].[CCTarifa] CHECK CONSTRAINT [FK_CCTarifa_CCPeriodoCobro]
GO
ALTER TABLE [dbo].[CCTarifa]  WITH CHECK ADD  CONSTRAINT [FK_CCTarifa_CCTipoMonto] FOREIGN KEY([IDTipoMonto])
REFERENCES [dbo].[CCTipoMonto] ([ID])
GO
ALTER TABLE [dbo].[CCTarifa] CHECK CONSTRAINT [FK_CCTarifa_CCTipoMonto]
GO
ALTER TABLE [dbo].[CCTarifa]  WITH CHECK ADD  CONSTRAINT [FK_CCTarifa_ConceptoCobro] FOREIGN KEY([IDCC])
REFERENCES [dbo].[ConceptoCobro] ([ID])
GO
ALTER TABLE [dbo].[CCTarifa] CHECK CONSTRAINT [FK_CCTarifa_ConceptoCobro]
GO
ALTER TABLE [dbo].[CCTarifaFija]  WITH CHECK ADD  CONSTRAINT [FK_CCTarifaFija_CCTarifa] FOREIGN KEY([IDTarifa])
REFERENCES [dbo].[CCTarifa] ([ID])
GO
ALTER TABLE [dbo].[CCTarifaFija] CHECK CONSTRAINT [FK_CCTarifaFija_CCTarifa]
GO
ALTER TABLE [dbo].[CCTarifaPorcentual]  WITH CHECK ADD  CONSTRAINT [FK_CCTarifaPorcentual_CCBaseCalculo] FOREIGN KEY([IDBaseCalculo])
REFERENCES [dbo].[CCBaseCalculo] ([ID])
GO
ALTER TABLE [dbo].[CCTarifaPorcentual] CHECK CONSTRAINT [FK_CCTarifaPorcentual_CCBaseCalculo]
GO
ALTER TABLE [dbo].[CCTarifaPorcentual]  WITH CHECK ADD  CONSTRAINT [FK_CCTarifaPorcentual_CCTarifa] FOREIGN KEY([IDTarifa])
REFERENCES [dbo].[CCTarifa] ([ID])
GO
ALTER TABLE [dbo].[CCTarifaPorcentual] CHECK CONSTRAINT [FK_CCTarifaPorcentual_CCTarifa]
GO
ALTER TABLE [dbo].[CCTarifaTramo]  WITH CHECK ADD  CONSTRAINT [FK_CCTarifaTramo_CCBaseCalculo] FOREIGN KEY([IDBaseCalculo])
REFERENCES [dbo].[CCBaseCalculo] ([ID])
GO
ALTER TABLE [dbo].[CCTarifaTramo] CHECK CONSTRAINT [FK_CCTarifaTramo_CCBaseCalculo]
GO
ALTER TABLE [dbo].[CCTarifaTramo]  WITH CHECK ADD  CONSTRAINT [FK_CCTarifaTramo_CCTarifa] FOREIGN KEY([IDTarifa])
REFERENCES [dbo].[CCTarifa] ([ID])
GO
ALTER TABLE [dbo].[CCTarifaTramo] CHECK CONSTRAINT [FK_CCTarifaTramo_CCTarifa]
GO
ALTER TABLE [dbo].[ComprobantePago]  WITH CHECK ADD  CONSTRAINT [FK_ComprobantePago_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[ComprobantePago] CHECK CONSTRAINT [FK_ComprobantePago_Propiedad]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_EstadoFactura] FOREIGN KEY([IDEstadoFactura])
REFERENCES [dbo].[EstadoFactura] ([ID])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_EstadoFactura]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Propiedad]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_TipoMedioPago] FOREIGN KEY([IDTipoMedioPago])
REFERENCES [dbo].[TipoMedioPago] ([ID])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_TipoMedioPago]
GO
ALTER TABLE [dbo].[LecturaMedidor]  WITH CHECK ADD  CONSTRAINT [FK_LecturaMedidor_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[LecturaMedidor] CHECK CONSTRAINT [FK_LecturaMedidor_Propiedad]
GO
ALTER TABLE [dbo].[LecturaMedidor]  WITH CHECK ADD  CONSTRAINT [FK_LecturaMedidor_TipoMovLecturaMedidor] FOREIGN KEY([IDTipoMovimiento])
REFERENCES [dbo].[TipoMovLecturaMedidor] ([ID])
GO
ALTER TABLE [dbo].[LecturaMedidor] CHECK CONSTRAINT [FK_LecturaMedidor_TipoMovLecturaMedidor]
GO
ALTER TABLE [dbo].[Linea]  WITH CHECK ADD  CONSTRAINT [FK_Linea_ConceptoCobro] FOREIGN KEY([IDCC])
REFERENCES [dbo].[ConceptoCobro] ([ID])
GO
ALTER TABLE [dbo].[Linea] CHECK CONSTRAINT [FK_Linea_ConceptoCobro]
GO
ALTER TABLE [dbo].[Linea]  WITH CHECK ADD  CONSTRAINT [FK_Linea_Factura] FOREIGN KEY([IDFactura])
REFERENCES [dbo].[Factura] ([ID])
GO
ALTER TABLE [dbo].[Linea] CHECK CONSTRAINT [FK_Linea_Factura]
GO
ALTER TABLE [dbo].[MovConsumo]  WITH CHECK ADD  CONSTRAINT [FK_MovConsumo_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[MovConsumo] CHECK CONSTRAINT [FK_MovConsumo_Propiedad]
GO
ALTER TABLE [dbo].[MovConsumo]  WITH CHECK ADD  CONSTRAINT [FK_MovConsumo_TipoMovConsumo] FOREIGN KEY([IDTipo])
REFERENCES [dbo].[TipoMovConsumo] ([ID])
GO
ALTER TABLE [dbo].[MovConsumo] CHECK CONSTRAINT [FK_MovConsumo_TipoMovConsumo]
GO
ALTER TABLE [dbo].[OrdenCorte]  WITH CHECK ADD  CONSTRAINT [FK_OrdenCorte_Factura] FOREIGN KEY([IDFactura])
REFERENCES [dbo].[Factura] ([ID])
GO
ALTER TABLE [dbo].[OrdenCorte] CHECK CONSTRAINT [FK_OrdenCorte_Factura]
GO
ALTER TABLE [dbo].[OrdenReconexion]  WITH CHECK ADD  CONSTRAINT [FK_OrdenReconexion_OrdenCorte] FOREIGN KEY([IDOrdenCorte])
REFERENCES [dbo].[OrdenCorte] ([ID])
GO
ALTER TABLE [dbo].[OrdenReconexion] CHECK CONSTRAINT [FK_OrdenReconexion_OrdenCorte]
GO
ALTER TABLE [dbo].[Propiedad]  WITH CHECK ADD  CONSTRAINT [FK_Propiedad_TipoAreaPropiedad] FOREIGN KEY([IDTipoArea])
REFERENCES [dbo].[TipoAreaPropiedad] ([ID])
GO
ALTER TABLE [dbo].[Propiedad] CHECK CONSTRAINT [FK_Propiedad_TipoAreaPropiedad]
GO
ALTER TABLE [dbo].[Propiedad]  WITH CHECK ADD  CONSTRAINT [FK_Propiedad_TipoUsoPropiedad] FOREIGN KEY([IDTipoUso])
REFERENCES [dbo].[TipoUsoPropiedad] ([ID])
GO
ALTER TABLE [dbo].[Propiedad] CHECK CONSTRAINT [FK_Propiedad_TipoUsoPropiedad]
GO
ALTER TABLE [dbo].[PropiedadXCC]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadXCC_ConceptoCobro] FOREIGN KEY([IDCC])
REFERENCES [dbo].[ConceptoCobro] ([ID])
GO
ALTER TABLE [dbo].[PropiedadXCC] CHECK CONSTRAINT [FK_PropiedadXCC_ConceptoCobro]
GO
ALTER TABLE [dbo].[PropiedadXCC]  WITH CHECK ADD  CONSTRAINT [FK_PropiedadXCC_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[PropiedadXCC] CHECK CONSTRAINT [FK_PropiedadXCC_Propiedad]
GO
ALTER TABLE [dbo].[Propietario]  WITH CHECK ADD  CONSTRAINT [FK_Propietario_TipoDocumentoIdentidad] FOREIGN KEY([IDTipoDocumentoIdentidad])
REFERENCES [dbo].[TipoDocumentoIdentidad] ([ID])
GO
ALTER TABLE [dbo].[Propietario] CHECK CONSTRAINT [FK_Propietario_TipoDocumentoIdentidad]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([IDTipo])
REFERENCES [dbo].[TipoUsuario] ([ID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
ALTER TABLE [dbo].[UsuarioPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPropiedad_Propiedad] FOREIGN KEY([IDPropiedad])
REFERENCES [dbo].[Propiedad] ([ID])
GO
ALTER TABLE [dbo].[UsuarioPropiedad] CHECK CONSTRAINT [FK_UsuarioPropiedad_Propiedad]
GO
ALTER TABLE [dbo].[UsuarioPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPropiedad_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[UsuarioPropiedad] CHECK CONSTRAINT [FK_UsuarioPropiedad_Usuario]
GO
ALTER TABLE [dbo].[UsuarioPropietario]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPropietario_Propietario] FOREIGN KEY([IDPropietario])
REFERENCES [dbo].[Propietario] ([ID])
GO
ALTER TABLE [dbo].[UsuarioPropietario] CHECK CONSTRAINT [FK_UsuarioPropietario_Propietario]
GO
ALTER TABLE [dbo].[UsuarioPropietario]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPropietario_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[UsuarioPropietario] CHECK CONSTRAINT [FK_UsuarioPropietario_Usuario]
GO
USE [master]
GO
